body {
	background-color: #DDDDDD;
}

.canvas-container {
	position: relative;
}

.canvas-container canvas, .canvas-container .background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 600px;
}

.canvas-container .background {
	background-color: black;
}
